@import '../../styles/animations.scss';


#minute-hand{
  position: absolute;

  background-color: rgb(10, 12, 241);
  height: 150px;
  width: 3px;
  @include tick(3600s)
  // transform-origin: center bottom;
}
