@import '../../styles/animations.scss';
@import '../../styles/handSize.scss';
@import '../../styles/handArrow.scss';


#hour-hand{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &:after{
    @include handArrow
  }

  background-color: black;

  @include tick('hour');
  @include handSize('hour');
}


#minute-hand{
  background-color: black;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &:after{
    @include handArrow
  }


  @include tick('minute');
  @include handSize('minute');
}

#second-hand{
  background-image: linear-gradient( rgb(203, 6, 0), 75% ,  black);

  display: flex;
  justify-content: center;
  align-items: flex-start;


  @include tick('second');
  @include handSize('second');
}


handRing{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  grid-area: clockCenter;

  display: flex;
  justify-content: center;
  align-items: center;
}
