clock-face{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid black ;
  display: grid;
  grid-template: 1fr;
  grid-template-areas:
  "clockCenter";

  justify-items: center;
  align-items: center;

  &:before{
    content: no-open-quote;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: black;
    grid-area: clockCenter;
  }

}
